* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: "Open Sans", sans-serif;
}

.header {
  font-size: 5rem;
  text-align: center;
  margin: 3rem;
  line-height: 1.2;
}

.para {
  margin: 1.5rem 3rem;
  font-size: 2rem;
  line-height: 1.5;
}
